.full {
  height: 100vh;
}
.flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.direction-column {
  flex-direction: column;
}
.text-center {
  text-align: center;
}
.container {
  width: 100%;
  max-width: 1280px;
  padding: 0 30px;
  margin: 0 auto;
  @media screen and (max-width: $break-medium) {
    padding: 0 20px;
  }
}
.pokemon-logo-banner {
  width: 60%;
}
.pokemon-logo-home {
  width: 160px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.col-lg-3 {
  width: calc(100% / 4);
  @media screen and (max-width: $break-large) {
    width: calc(40%);
  }
  @media screen and (max-width: $break-medium) {
    width: calc(100%);
  }
  @media screen and (max-width: $break-small) {
    width: calc(100%);
  }
}

.col-lg-9 {
  width: calc(100% * 3 / 4);
  @media screen and (max-width: $break-large) {
    width: calc(60%);
  }
  @media screen and (max-width: $break-medium) {
    width: calc(100%);
  }
  @media screen and (max-width: $break-small) {
    width: calc(100%);
  }
}

.col-lg-4 {
  width: calc(100% / 3);
  @media screen and (max-width: $break-large) {
    width: calc(100% / 2);
  }
  @media screen and (max-width: $break-small) {
    width: calc(100%/ 1);
  }
}
